<h2 mat-dialog-title>{{ data?.title }}</h2>

<mat-dialog-content>
  <div style="text-align:center">
    <ngx-stars [readonly]="false" [size]="3" [maxStars]="5" [color]="'gold'" [wholeStars]="true"
      (ratingOutput)="onRatingSet($event)"></ngx-stars>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="submit()"
    [disabled]="rating == 0 ? 'true' : 'false'">Submit</button>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>
